<!-- views/partials/header.ejs -->
<nav class="grey">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo">artus</a>
        <ul class="right">

            <li>
                <a href="/api/v1/docs" class="waves-effect waves-light btn grey darken-3">
                    API Docs
                    <i class="material-icons right">compare_arrows</i>
                </a>
            </li>

        </ul>
    </div>
</nav>