<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
</head>

<body>
    <% include ./partials/header %>
    <div class="center-align">
        <div class="container">

            <div>
                
                <h4>
                    <%= article.title %>
                </h4>
                <h5><%= article.description %> </h5>
                <p><%= article.body %> </p>

            </div>


        </div>

    </div>
    </div>
    <% include ./partials/footer %>
</body>

</html>