<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
</head>

<body>
    <% include ./partials/header %>
    <div class="container">
        <%- convertmd("README.md") %>
    </div>
    <% include ./partials/footer %>
</body>

</html>