<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
</head>

<body>
    <% include ./partials/header %>
    <div class="center-align">
        < <h3>Welcome to artus Node API</h3>
    </div>
    <% include ./partials/footer %>
</body>

</html>