<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
</head>

<body>
    <% include ./partials/header %>
    <div class="container">
        <h1 class="center-align red-text"><%= message %></h1>
        <h2 class="center-align red-text"><%= error.status %></h2>
        <pre><%= error.stack %></pre>
    </div>

    <% include ./partials/footer %>
</body>

</html>