<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <% include ./partials/header %>
  <div class="center-align">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/docs" class="waves-effect waves-light btn grey darken-3">
      API Docs
      <i class="material-icons right">compare_arrows</i>
    </a>
  </div>
  <% include ./partials/footer %>
</body>

</html>